<div class="container m-5">
    <div class="row" [(formGroup)]="userForm">

        <div class="col-xs-12 col-md-6">  
            <label>Firstname</label>
            <input formControlName="firstname" type="text" placeholder="Firstname">
            <div class="text-danger" *ngIf="uf.firstname.errors && submitted">
              <p *ngIf="uf.firstname.errors.required">Firstname is required</p>
              <p *ngIf="uf.firstname.errors.maxlength">Not more than 24 characters.</p>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <label>Lastname</label>
            <input formControlName="lastname" type="text" placeholder="Lastname">
            <div class="text-danger" *ngIf="uf.lastname.errors && submitted ">
                <p *ngIf="uf.lastname.errors.required">Lastname is required</p>
                <p *ngIf="uf.lastname.errors.maxlength">Not more than 24 characters.</p>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <label>Email</label>
            <input formControlName="email" type="text" placeholder="Email">
            <div class="text-danger" *ngIf="uf.email.errors && submitted ">
                <p *ngIf="uf.email.errors.required">Email is required</p>
                <p *ngIf="uf.email.errors.pattern">Must be Cognizant Email</p>
                <p *ngIf="uf.email.errors.maxlength">Not more than 100 characters.</p>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <label>Password</label>
            <input formControlName="password" type="password" placeholder="********">
            <div class="text-danger" *ngIf="uf.password.errors && submitted ">
                <p *ngIf="uf.password.errors.minlength">Must be more than 8 characters.</p>
                <p *ngIf="uf.password.errors.maxlength">Not more than 64 characters.</p>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <label>{{randomInt}} + {{randomInt2}} = </label>
            <input formControlName="result" type="number">
            <div class="text-danger" *ngIf="uf.result.errors && submitted ">
                <p *ngIf="uf.result.errors.required">Please enter result</p>
            </div>
        </div>

        <div class="col-12" *ngIf="successMessage">
            <p class="text-success">{{successMessage}}</p>
        </div>

        <div class="col-12" *ngIf="errorMessage">
            <p class="text-danger">{{errorMessage}}</p>
        </div>

        <div class="col-12">
            <div color="primary" routerLink="/login">
                Already registered?
            </div>
            <button class="btn btn-success" (click)="signUp()">Submit</button>
        </div>
    </div>
</div>